# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
bin/
coverage.out
coverage.html

# Development files
data/*.mmdb
data/*.tar.gz
log/
tracker/node_modules
web/node_modules
web/.git

# Non-essential files
README.md
